<!-- David Prager Branner -->
<!-- 20140728 -->

<!doctype html>
<html lang="en" ng-app="ngMadLibs">
<head>
  <meta charset="UTF-8">
  <title>ngMadLibs</title>
  <link rel="stylesheet" href="css/ngMadLibs.css">
</head>

<body ng-controller="Replacements">
  <header>
    <table>
      <tbody>
        <tr>
          <td rowspan="2" id="lefttopcell">
            <img src="images/mad-lib-happy-face.png" 
                 alt="ngMadLibs Smiley face" id="happyface">
          </td>
            <td id="righttopcell">
              <img src="images/ng-mad-libs-logo.png" 
                   alt="ngMadLibs Logo" id="logo">
            </td>
          <tr>
            <td id="automatethis">Automate This!</td>
          </tr>
        </tr>
      </tbody>
    </table>
  </header>

  <section ng-show="userInput">
    <table class="notopbottomborder">
      <tr>
        <td id="provide" colspan="3">Provide the following words:</td>
      </tr>
    </table>
    <table class="notopbottomborder">
      <tbody>
        <tr>
          <td><input type="text" placeholder="{{ userReplmnts[0] }}" ng-model=userReplmnts[0] required></td>
          <td><input type="text" placeholder="{{ userReplmnts[1] }}" ng-model="userReplmnts[1]" required></td>
          <td><input type="text" placeholder="{{ userReplmnts[2] }}" ng-model="userReplmnts[2]" required></td>
        </tr>
        <tr>
          <td><input type="text" placeholder="{{ userReplmnts[3] }}" ng-model="userReplmnts[3]" required></td>
          <td><input type="text" placeholder="{{ userReplmnts[4] }}" ng-model="userReplmnts[4]" required></td>
          <td><input type="text" placeholder="{{ userReplmnts[5] }}" ng-model="userReplmnts[5]" required></td>
        </tr>
        <tr>
          <td><input type="text" placeholder="{{ userReplmnts[6] }}" ng-model="userReplmnts[6]" required></td>
          <td><input type="text" placeholder="{{ userReplmnts[7] }}" ng-model="userReplmnts[7]" required></td>
          <td><input type="text" placeholder="{{ userReplmnts[8] }}" ng-model="userReplmnts[8]" required></td>
        </tr>
      </tbody>
    </table>
  </section>

  <section ng-show="!userInput">
    <table class="notopbottomborder">
      <tbody>
        <tr> 
          <td colspan="2" id="madlib">
            <p>
            <span>{{ userReplmnts[0] }}</span> was a 
            <span>{{ userReplmnts[3] }}</span> who loved technology. Although she loved parts of her job, she absolutely hated 
            <span>{{ userReplmnts[6] }}</span> and 
            <span>{{ userReplmnts[1] }}</span>. So 
            <span>{{ userReplmnts[0] }}</span> met with her life mentor 
            <span>{{ userReplmnts[4] }}</span> who told her to learn how to 
            <span>{{ userReplmnts[7] }}</span> with Thinkful. Thinkful didn't offer a course on 
            <span>{{ userReplmnts[7] }}</span> so she studied programming instead.
            </p>
            <p>
            What a great decision! With her new skills, 
            <span>{{ userReplmnts[0] }}</span> built a(n) 
            <span>{{ userReplmnts[8] }}</span> robot named 
            <span>{{ userReplmnts[2] }}</span> that not only loved 
            <span>{{ userReplmnts[1] }}</span> but did it 
            <span>{{ userReplmnts[5] }}</span> times faster. 
            </p>
          </td>
        </tr>
      </tbody>
    </table>
  </section>

  <footer>
    <table class="notopborder">
      <tbody>
        <tr>
          <td id="button">
            <button ng-show="userInput" ng-click="generateMadLib()" type="button">
              Generate My MadLib!
            </button>
            <button ng-show="!userInput" ng-click="resetMadLib()" type="button">
              Start Over
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </footer>

  <script src="js/angular.js"></script>
  <script src="js/ngMadLibs.js"></script>
</body>
</html>
