/* David Prager Branner */
/* 20140805 */

.container {
  width: 75%;
  display: table;
  margin-left: auto ;
  margin-right: auto ;
}

/* This rule was added to center div content. 
 * But it seems to ruin the left border.
.rowlike:before {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle;
}
*/

.rowlike {
  display: table-row;
}

.celllike {
  display: table-cell;
  vertical-align: middle;
}

img {
  display: block;
  margin: 0 auto;
}

#happyface {
  max-width: 40%;
}

.boxed {
  box-sizing: border-box;
  border: 1px solid black;
}

#automatethis {
  text-align: center;
  margin: 0 auto;
  font-size: 300%;
}

ul:before {
  content: '';
  display: block;
  height: 100%;
  vertical-align: middle;
}

ul, .madlib {
  position: relative;
  max-width: 70%;
  margin: 0 auto;
  padding: 10px;
}

li {
  display: inline-block;
  list-style-type: none;
  padding: 20px 0;
}

button {
  float: right;
  clear: both;
}

input {
  text-align: center;
  margin: 0 10px;
}

#pronounAndSubmit {
  padding: 20px;
}

.animate-show.ng-hide-remove {
  -webkit-animation: all 1.5s linear;
  animation: all 1.5s linear;
  opacity: 1;
}

.animate-show.ng-hide-add {
  opacity: 0;
}

.animate-show.ng-hide-add.ng-hide-add-active {
  opacity: 1;
}

.animate-show.ng-hide-remove.ng-hide-remove-active {
  opacity: 0;
}


