/* David Prager Branner */
/* 20140802 */

.container {
  width: 75%;
  display: table;
  margin-left: auto ;
  margin-right: auto ;
}


.rowlike:before {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle;
}

.rowlike {
  display: table-row;
}

.celllike {
  display: table-cell;
  vertical-align: middle;
}

img {
  display: block;
  margin: 0 auto;
}

#happyface {
  max-width: 40%;
}

.boxed {
  border: 1px solid black;
}

#automatethis {
  text-align: center;
  margin: 0 auto;
  font-size: 300%;
}

ul:before {
  content: '';
  display: block;
  height: 100%;
  vertical-align: middle;
}

ul, .madlib {
  position: relative;
  max-width: 70%;
  margin: 0 auto;
  padding: 10px;
}

li {
  display: inline-block;
  list-style-type: none;
  padding: 20px 0;
}

button {
  float: right;
  clear: both;
}

input {
  text-align: center;
  margin: 0 10px;
}
